experimental/
ds27_pop_sto_quartiere.csv
foreigners_of_milan.tex
foreigners_of_milan.log
foreigners_of_milan.fdb_latexmk
foreigners_of_milan.aux
foreigners_of_milan.fls
foreigners_of_milan.synctex.gz
foreigners_of_milan_presentazione.tex
foreigners_of_milan_presentazione.log
foreigners_of_milan_presentazione.fdb_latexmk
foreigners_of_milan_presentazione.aux
foreigners_of_milan_presentazione.fls
foreigners_of_milan_presentazione.synctex.gz
